/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Systems*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#structure aside#systemOptions{
    margin-top: 40px;
}

#structure h2{
    text-align: left;
    color : #008762;
    color : rgb(0, 135, 98);
    font-size: 30px;
    margin-bottom: 22px;
}

#structure div#SystemTitle{
    margin-left: -40px;
    margin-top: 40px;
}

.crumbs{
    position: relative;
    color: red;
    font-size: 20px;
    z-index: 10;
    padding-left: 82px;
    color: #014C35;
    font-weight: lighter;
    padding-bottom: 5px;
    padding-top: 5px;
    background: #F6F6F6;
}

/*////////////////////////////////////////////MENU//////////////////////////////////////////////////*/

#AccordeonMenu input{
    display: none;
}

#AccordeonMenu label{
    background : #008762;
    background : rgba(0, 135, 98, 1);
    font-size: 19px;
    margin-bottom: 10px;
    padding: 18px;
    color: white;
    text-align: center;
  	display:block;
  	width:100%;
  	cursor:pointer;
}

#AccordeonMenu ul#economicGraphics{
    	position:relative;
    	height:0px;
    	overflow:hidden;
    	transition: height 1s;
      font-size: 18px;
      color: gray;
      text-align: center;
}

#AccordeonMenu ul#economicGraphics li{
        cursor: pointer;
        padding: 2px;
}

input#graphics:checked ~ ul#economicGraphics{
    	height:auto;
}

#AccordeonMenu label:hover{
    background : #9ED140;
    background : rgba(158, 209, 64, 1);
    cursor:pointer;
}

#AccordeonMenu label:active{
    background : #FFBB02;
    background : rgba(255, 187, 2, 1);
    cursor:pointer;
}

/*////////////////////////////////////////////Content//////////////////////////////////////////////////////*/

#structure div#systemContent{
    margin-top: 40px;
}

#structure div#systemContent article{

    /* margin-top: 60px; */
    color : #575756;
    color : rgb(87, 87, 86);

}

#structure div#systemContent article p{

    color : #575756;
    color : rgb(87, 87, 86);
    font-size: 18px;
    text-align: justify;
}

#structure div#systemContent article table.tableStyle{
    /* color: green; */
    text-align: center;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

#structure div#systemContent article table.tableStyle th{
    /* border: 1px solid #FFFFFF; */
    background-color: rgb(79,88,92);
    color: #FFFFFF;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 19px;
}

#structure div#systemContent article table.tableStyle tr{
    background-color: #E5E5E5;
}

#structure div#systemContent article table.tableStyle td{
    /* border: 1px solid #FFFFFF; */
    color: #014C35;
    font-size: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
}

#structure div#systemContent article table.tableStyle tr:hover td{
      background-color: #F9D885;
}

#structure h4{
    font-size: 24px;
    color: #014C35;
    margin-left: 4px;
}

.icon img
{
    position:relative;
    top: 3px;
    cursor: pointer;
}

#structure div#systemContent article table.tableStyle td label img{
    cursor:pointer;
}

/*//////////////////////////////////////////Graphics/////////////////////////////////////////////////////*/

#structure div#chart_div{
    /* position: relative; */
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    /* margin-left: 5%;
    margin-bottom: 5%; */
    height: 480px;
}

#structure div#modal{
     background: rgba(0, 0, 0, 0.5);
     color: #fff;
     position: fixed;
     top: -100vh;
     left: 0;
     height: 100vh;
     width: 100vw;
     z-index: 20;
 }

#ShowModal, #CloseModal{
    display: none;
}

#ShowModal:checked ~ #modal {
  top: 0;
}

#CloseModal:checked ~ #modal {
  top: -100vh;
}

div.card{
    position: relative;
    top: 20%;
    min-height: 300px;
    background-color: #E5E5E5;
}

div.titleCard{

    background-color: rgb(79,88,92);
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    display: inline;
}

#structure div#systemContent article div#modal div.titleCard p{
  position: relative;
    color: white;
    font-size: 22px;
    text-align: center;
    display: inline;
}

#structure div#systemContent article div#modal div.titleCard img{
    float: right;
}

div.titleBody{
    background-color: #E5E5E5;
}

div.titleBody ul li{
    padding-top: 30px;
}

div.titleBody ul li label{
    color:black;
    font-size: 18px;
}

div.titleBody ul li input{
    float: right;
    border-radius : 10px;
    border: 1px solid #014C35;
    height : 27px;
    overflow: hidden;
    vertical-align: top;
    background-color: white;
    color: #014C35;
    padding-left: 10px;
    width: 60%;
}
