/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Zone*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#structure #description{
    margin-top: 40px;
}

#structure article h2{
    text-align: justify;
    color : #008762;
    color : rgb(0, 135, 98);
    font-size: 40px;
    margin-bottom: 22px;
}

#structure figure#miniMap img{
    width: 100%;
    max-height: 500px;
}

#structure table.tableStyle{
    color: green;
    text-align: center;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

#structure table.tableStyle th{
    /* border: 1px solid #FFFFFF; */
    background-color: rgb(79,88,92);
    color: #FFFFFF;
    text-align: center;
    padding: 14px;
    font-size: 19px;
}

#structure table.tableStyle tr{
    background-color: #E5E5E5;
}

#structure table.tableStyle td{
    /* border: 1px solid #FFFFFF; */
    color: #014C35;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#structure table.tableStyle tr:hover td{
    background-color: #F9D885;
}

#structure h4{
    font-size: 24px;
    color: #014C35;
    margin-left: 4px;
}

#structure aside#Menu .buttonlist{
    margin-top: 125px;
}

#structure aside#Menu label{
    background : #008762;
    background : rgba(0, 135, 98, 1);
    font-size: 19px;
    margin-bottom: 10px;
    padding: 18px;
    color: white;
    text-align: center;
}

#structure aside#Menu label:hover{
    background : #9ED140;
    background : rgba(158, 209, 64, 1);
    cursor:pointer;
}

#structure aside#Menu label:active{
    background : #FFBB02;
    background : rgba(255, 187, 2, 1);
    cursor:pointer;
}
